* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #f3f3f3;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 1vw 2vw;
    color: #333;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar span {
    color: #3cb371;
}

.navbar h1 {
    font-size: 2vw;
    font-weight: 700;
    margin: 0;
    color: #222;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: #222;
    text-decoration: none;
    margin: 0 1vw;
    font-size: 1.2vw;
    font-weight: 550;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #3cb371;
}

.language-switcher {
    margin-left: 2vw;
}

.language-switcher a {
    color: #222;
    text-decoration: none;
    margin: 0 0.5vw;
    font-size: 1vw;
    font-weight: bold;
    padding: 0.5vw 1vw;
    border: 0.1vw solid #222;
    border-radius: 0.5vw;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.language-switcher a:hover {
    background-color: #3cb371;
    color: #fff;
}
.title {
    display: flex;
    justify-content: center;
    padding: 2.5vw 1vw;
    background-color: #f8f9fa;
}

.box1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 80vw;
    gap: 1.2vw;
    background-color: #ffffff;
    border-radius: 0.6vw;
    box-shadow: 0 0.2vw 0.8vw rgba(0, 0, 0, 0.1);
    padding: 1.2vw;
}

.box2 {
    flex: 1;
    padding: 1.2vw;
}

.box2 h1 {
    font-size: 2.2vw;
    font-weight: bold;
    color: #3cb371;
    margin-bottom: 1vw;
}

.box2 p {
    font-size: 1.1vw;
    color: #555;
    line-height: 1.5;
    margin-bottom: 1.2vw;
}

.about-image {
    flex: 1;
    max-width: 30vw;
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 0.6vw;
    box-shadow: 0 0.2vw 0.8vw rgba(0, 0, 0, 0.2);
    margin-top: 1vw;

}

.contact-info {
    margin-top: 2vw;
    padding: 1.2vw;
    background-color: #f9f9f9;
    border-radius: 0.6vw;
    box-shadow: 0 0.2vw 0.6vw rgba(0, 0, 0, 0.1);
}

.contact-info h2 {
    font-size: 2vw;
    margin-bottom: 1vw;
    text-align: center;
    color: #3cb371;
}

.contact-info p {
    font-size: 1.1vw;
    line-height: 1.5;
    margin: 0.8vw 0;
}

.contact-info strong {
    font-weight: bold;
}
