/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #f5efed;
    font-size: 16px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.navbar h1 {
    color: #423c3c;
    font-size: 1.5vw;
    font-weight: bold;
    margin-right: 20px;
}

.navbar .nav-links {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex: 1;
    font-size: 0.8vw;
}

.navbar .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 650;
    line-height: 40px;
}

.navbar .nav-links a:hover {
    color: #b77952;
}

.navbar span {
    color: #b77952;
}

.language-switcher {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 30px;
}

.lang-button {
    background-color: #f1f1f1;
    color: #333;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.lang-button:hover {
    background-color: #ddd;
}

/* Button styles */
.dupa {
    border-radius: 10px;
    background: #b77952;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    height: 40px;
}

.dupa:hover {
    background: #653b17;
    color: white;
}

.navbar .nav-links .dupa a {
    color: white;
}

/* Login link */
.login {
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 40px;
}

.active {
    border-bottom: 2px solid #b77952;
}

/* Container for animal details */
.container2 {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Heading for animal details */
h1 {
    font-size: 2.5em;
    color: #4CAF50;
    text-align: center;
    margin-bottom: 20px;
}

/* Image of animal */
img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Animal description */
p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 30px;
}

/* Back button */
.back-button {
    display: inline-block;
    font-size: 1.1em;
    color: #4CAF50;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fff;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.back-button:hover {
    background-color: #4CAF50;
    color: white;
}

/* Title page */
title {
    font-size: 1.5em;
    color: #4CAF50;
}
