<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <div class="navbar">
        <h1 th:utext="#{logoText}">Home<span th:text="#{logoText2}">Pet</span></h1>
        <div class="nav-links">
            <a th:href="@{/home}" id="homeLink" th:text="#{home}">Home</a>
            <a th:href="@{/about}" id="aboutLink" th:text="#{about}">About</a>
            <a th:href="@{/adopt}" id="adoptLink" th:text="#{adopt}">Adopt</a>
            <a th:href="@{/contact}" id="contactLink" th:text="#{contact}">Contact</a>

            <div class="dupa">
                <a th:href="@{/donate}" class="dupa-text" th:text="#{donate}">Donate</a>
            </div>
            <div class="login">
                <a th:href="@{/login}" class="login-text" th:text="#{login}">Log In</a>
            </div>
            <div class="language-switcher">
                <a th:href="@{/lang?lang=pl}" th:text="#{lang.pl}">PL</a>
                <a th:href="@{/lang?lang=en}" th:text="#{lang.en}">EN</a>
            </div>
        </div>
    </div>

    <div class="title">
        <div class="box1">
            <div class="box2">
                <h1 th:text="#{titleAboutPage}">Something about us</h1>
                <p th:text="#{informationAboutPage1}">Nasze schronisko to miejsce pełne miłości, oddania i troski o zwierzęta, które potrzebują nowego domu i opieki. Od lat zajmujemy się ratowaniem porzuconych i bezdomnych zwierząt, zapewniając im bezpieczeństwo oraz szansę na lepsze życie. Wierzymy, że każde stworzenie zasługuje na szansę, by znaleźć kochający dom, w którym będzie otoczone opieką i wsparciem.</p>
                <p th:text="#{informationAboutPage2}">Nasz zespół składa się z pasjonatów i wolontariuszy, dla których los zwierząt jest szczególnie ważny. Dzięki ich zaangażowaniu, każde zwierzę otrzymuje indywidualną opiekę oraz szansę na adaptację i rehabilitację. Codziennie dbamy o to, by nasi podopieczni mieli zapewnione odpowiednie warunki oraz otrzymali całą potrzebną pomoc – od podstawowej opieki zdrowotnej po socjalizację.</p>
                <p th:text="#{informationAboutPage3}">Naszą misją jest nie tylko ratowanie zwierząt, ale także edukowanie społeczeństwa w zakresie odpowiedzialnej opieki i adopcji. Wierzymy, że dzięki współpracy możemy wspólnie tworzyć świat, w którym każde zwierzę będzie kochane i szanowane. Zapraszamy do poznania naszych podopiecznych oraz wsparcia naszej misji – razem możemy zmienić ich życie na lepsze.</p>

                <div class="contact-info">
                    <h2 th:text="#{contact.title}">Kontakt</h2>
                    <p><strong th:text="#{contact.address}">Adres:</strong> Ul. Zwierzęca 12, 87-100 Toruń</p>
                    <p><strong th:text="#{contact.phone}">Telefon:</strong> +48 123 456 789</p>
                    <p><strong th:text="#{contact.city}">Miasto:</strong> Toruń, Polska</p>
                    <p><strong th:text="#{contact.email}">Email:</strong> kontakt@schronisko.pl</p>
                </div>
            </div>
            <div class="about-image">
                <img src="/images/schronisko1.jpg" alt="Zdjęcie schroniska">
                <img src="/images/schronisko2.jpg" alt="Zdjęcie schroniska 2">
                <img src="/images/schronisko3.jpg" alt="Zdjęcie schroniska 2">
            </div>
        </div>
    </div>

</div>

<script src="/script.js"></script>
</body>
</html>
