<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Animal</title>
    <link rel="stylesheet" href="/css/stylesAddAnimal.css">
</head>
<body>
<div class="container">
    <div class="navbar">
        <h1 th:utext="#{logoText}">Home<span th:text="#{logoText2}">Pet</span></h1>
        <div class="nav-links">
            <a th:href="@{/home}" id="homeLink" th:text="#{home}">Home</a>
            <a th:href="@{/about}" id="aboutLink" th:text="#{about}">About</a>
            <a th:href="@{/adopt}" id="adoptLink" th:text="#{adopt}">Adopt</a>
            <a th:href="@{/animals}" id="animalsLink" th:text="#{animals}">Animals</a>
            <a th:href="@{/employees}" id="employeesLink" th:text="#{employees}">Employees</a>
            <a th:href="@{/admin}" id="adminLink" th:text="#{admin}">Admin</a>
            <form th:action="@{/logout}" method="post" class="logout-form">
                <button type="submit" th:text="#{logout}">Wyloguj</button>
            </form>
            <div class="language-switcher">
                <a th:href="@{/lang?lang=pl}" th:text="#{lang.pl}">PL</a>
                <a th:href="@{/lang?lang=en}" th:text="#{lang.en}">EN</a>
            </div>
        </div>
    </div>
    <div class="container2">
        <div class="form-container">
            <h2 th:text="#{addAnimalFormTitle}">Add Animal</h2>
            <form th:action="@{/addAnimal}" method="post" enctype="multipart/form-data" th:object="${animal}">
                <div class="form-group">
                    <label for="name" th:text="#{nameLabel}">Name:</label>
                    <input type="text" id="name" name="name" placeholder="Enter animal name" th:field="*{name}" required>
                    <span class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>

                <div class="form-group">
                    <label for="description" th:text="#{descriptionLabel}">Description:</label>
                    <textarea id="description" name="description" placeholder="Enter animal description" th:field="*{description}" required></textarea>
                    <span class="error-message" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                </div>

                <div class="form-group">
                    <label for="image" th:text="#{imageLabel}">Image:</label>
                    <input type="file" id="image" name="image" accept="image/*" required>
                </div>

                <button type="submit" class="btn-submit" th:text="#{addAnimalButton}">Add Animal</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
