<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/adoptStyles.css">
</head>
<body>
<div class="container">
    <div class="navbar">
        <h1 th:utext="#{logoText}">Home<span th:text="#{logoText2}">Pet</span></h1>
        <div class="nav-links">
            <a th:href="@{/home}" id="homeLink" th:text="#{home}">Home</a>
            <a th:href="@{/about}" id="aboutLink" th:text="#{about}">About</a>
            <a th:href="@{/adopt}" id="adoptLink" th:text="#{adopt}">Adopt</a>
            <a th:href="@{/animals}" id="animalsLink" th:text="#{animals}">Animals</a>
            <a th:href="@{/employees}" id="employeesLink" th:text="#{employees}">Employees</a>
            <a th:href="@{/admin}" id="adminLink" th:text="#{admin}">Admin</a>

            <div class="dupa">
                <a th:href="@{/donate}" class="dupa-text" th:text="#{donate}">Donate</a>
            </div>
            <div class="login">
                <a th:href="@{/login}" class="login-text" th:text="#{login}">Log In</a>
            </div>
            <div class="language-switcher">
                <a th:href="@{/lang?lang=pl}" th:text="#{lang.pl}">PL</a>
                <a th:href="@{/lang?lang=en}" th:text="#{lang.en}">EN</a>
            </div>
        </div>
    </div>

    <div class="email-form-container">
        <h1 th:text="#{adoptionFormTitle}">Wniosek o adopcję</h1>
        <form th:action="@{/send-email}" method="post" class="email-form">
            <label for="firstName" th:text="#{firstNameLabel}">Imię:</label>
            <input type="text" id="firstName" name="firstName" th:placeholder="#{firstNamePlaceholder}" required>

            <label for="lastName" th:text="#{lastNameLabel}">Nazwisko:</label>
            <input type="text" id="lastName" name="lastName" th:placeholder="#{lastNamePlaceholder}" required>

            <label for="userEmail" th:text="#{emailLabel}">Twój e-mail:</label>
            <input type="email" id="userEmail" name="userEmail" th:placeholder="#{emailPlaceholder}" required>

            <label for="dogName" th:text="#{dogNameLabel}">Imię psa:</label>
            <input type="text" id="dogName" name="dogName" th:placeholder="#{dogNamePlaceholder}" required>

            <label for="text" th:text="#{adoptionReasonLabel}">Dlaczego chcesz adoptować?</label>
            <textarea id="text" name="text" th:placeholder="#{adoptionReasonPlaceholder}" rows="5" required></textarea>

            <button type="submit" th:text="#{submitButton}">Wyślij</button>
        </form>

        <p th:if="${success}" th:text="${success}" class="success-message"></p>
        <p th:if="${error}" th:text="${error}" class="error-message"></p>
    </div>

</div>

</body>
</html>
