<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/loginStyles.css">
    <script src="/script.js" defer></script>
</head>
<body>
<div class="container">
    <div class="navbar">
        <h1 th:utext="#{logoText}">Home<span th:text="#{logoText2}">Pet</span></h1>
        <div class="nav-links">
            <a th:href="@{/home}" id="homeLink" th:text="#{home}">Home</a>
            <a th:href="@{/about}" id="aboutLink" th:text="#{about}">About</a>
            <a th:href="@{/adopt}" id="adoptLink" th:text="#{adopt}">Adopt</a>
            <a th:href="@{/contact}" id="contactLink" th:text="#{contact}">Contact</a>

            <div class="dupa">
                <a th:href="@{/donate}" class="dupa-text" th:text="#{donate}">Donate</a>
            </div>
            <div class="login">
                <a th:href="@{/login}" class="login-text" th:text="#{login}">Log In</a>
            </div>
            <div class="language-switcher">
                <a th:href="@{/lang?lang=pl}" th:text="#{lang.pl}">PL</a>
                <a th:href="@{/lang?lang=en}" th:text="#{lang.en}">EN</a>
            </div>
        </div>
    </div>

    <div class="container2">
        <div class="container-login" id="signup" style="display: none;">
            <h1 class="form-title" th:text="#{register}">Register</h1>
            <form method="post" th:action="@{/register}">
                <div class="input-group">
                    <input type="text" name="firstName" id="fName" placeholder="First Name" required>
                    <label for="fName"th:text="#{firstName}" >First Name</label>
                </div>
                <div class="input-group">
                    <input type="text" name="lastName" id="lName" placeholder="Last Name" required>
                    <label for="lName"th:text="#{lastName}">Last Name</label>
                </div>
                <div class="input-group">
                    <input type="email" name="email" id="registerEmail" placeholder="Email" required>
                    <label for="registerEmail"th:text="#{email}">Email</label>
                </div>
                <div class="input-group">
                    <input type="password" name="password" id="registerPassword" placeholder="Password" required>
                    <label for="registerPassword"th:text="#{password}">Password</label>
                </div>
                <input type="submit" class="btn" value="Sign Up" name="signUp">
            </form>
            <div class="links">
                <p th:text="#{question}">Already Have Account?</p>
                <button id="signInButton"th:text="#{button}">Sign In</button>
            </div>
        </div>

        <div class="container-login" id="signIn">
            <h1 class="form-title" th:text="#{signIn}">Sign In</h1>
            <form method="post" th:action="@{/login}">
                <div class="input-group">
                    <input type="email" name="email" id="LoginEmail" placeholder="Email" required>
                    <label for="LoginEmail" th:text="#{email}">Email</label>
                </div>
                <div class="input-group">
                    <input type="password" name="password" id="loginPassword" placeholder="Password" required>
                    <label for="loginPassword" th:text="#{password}">Password</label>
                </div>
                <p class="recover">
                    <a href="#" th:text="#{recoverPass}">Recover Password</a>
                </p>
                <input type="submit" class="btn" value="Sign In" name="signIn">
            </form>
            <div class="links">
                <p th:text="#{question2}">Don't have an account yet?</p>
                <button id="signUpButton" th:text="#{register2}">Sign Up</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
